.main {
  display: grid;
  grid-template-columns: 1fr 4fr;
  overflow-y: hidden;
  height: 100vh;
  background-color: var(--background-color);
}

.icon-text {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.icons {
  width: 2.4rem;
  height: 2.4rem;
  color: #cacaca;
  font-family: --poppins;
}

.active {
  background-color: var(--light-black);
}

.logs-container {
  height: 100vh;
  overflow-y: auto;
}

.logs-header {
  margin-top: 2.4rem;
}

/* ***************************************************************************************************
 ************************************   MAIN ***********************************************************/
.cards {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  background-color: var(--secondary-bg);
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cards-header {
  font-family: "Poppins", sans-serif;
  color: var(--text-color);
  font-size: 2rem;
  margin-bottom: 1rem;
}

.cards-description {
  font-size: 1.6rem;
  color: var(--text-color);
}

.logs-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  padding-left: 0;
  gap: 2rem;
  margin-bottom: 3.2rem;
}

.input {
  background-color: var(--light-black);
  padding: 1.2rem;
  width: 100%;
  border-radius: 11px;
  color: var(--text-color);
}

input,
select {
  outline: none;
  border: none;
}

.btn-primary {
  color: var(--white);
  font-size: 1.6rem;
  font-weight: 600;
  padding: 1rem 2rem;
  border: none;
  border-radius: 4px;
  font-family: var(--poppins);
  margin-top: 1rem;
  cursor: pointer;
  transition: 0.4s all;
}

.log-btn,
.log-meal__btn {
  background-color: var(--primary-color);
}
.log-btn:hover,
.log-meal__btn:hover {
  background-color: #00b74d;
}

.detail-value {
  gap: 1.2rem;
}

.workout-log,
.log-meal {
  border-left: 0.4rem solid var(--primary-color);
}
.log-meal {
  height: fit-content;
}

/* Schedule */

.schedule-workout__form {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

.schedule-btn {
  background-color: var(--accent-color1);
}
