.icons {
  width: 2.4rem;
  height: 2.4rem;
  color: #cacaca;
  font-family: --poppins;
}

.active {
  background-color: var(--light-black);
}

.main-logs {
  height: 100vh;
  overflow-y: auto;
}

.logs-header {
  margin-top: 2.4rem;
}

/* ***************************************************************************************************
 ************************************   MAIN ***********************************************************/

.logs-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-left: 0 !important;
  gap: 2rem;
  margin-bottom: 3.2rem;
}

.input {
  background-color: var(--light-black);
  padding: 1.2rem;
  width: 100%;
  border-radius: 11px;
  color: var(--text-color);
}

input,
select {
  outline: none;
  border: none;
}

.log-btn,
.log-meal__btn {
  background-color: var(--primary-color);
}
.log-btn:hover,
.log-meal__btn:hover {
  background-color: #00c853;
}

.workout-log,
.log-meal {
  border-left: 0.4rem solid var(--primary-color);
}
