/* Heading Font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
/* Body Text Fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

:root {
  /* Primary Theme Colors */
  --primary-color: #00c853; /* Neon Green */
  --primary-hover: #aeea00;

  --secondary-color: #0a1929; /* Deep Navy */
  --seondary-hover: #1f6feb;

  --accent-color: #ffb74d; /* Soft Orange */
  --accent-hover: #ff8a00;
  --accent-color1: #ffa726;

  /* Backgrounds & Text */
  --background-color: #0d0d0d; /* Dark Background */
  --secondary-bg: #0a0a0a;
  --text-color: #e0e0e0; /* Light Gray Text */
  --white: #fff;
  --light-black: #161616;

  /* Status Indicators */
  --success-color: #aeea00; /* Lime Green for success/badges */
  --danger-color: #ef5350; /* Coral Red for alerts */

  /* Fonts */
  --poppins: "Poppins", sans-serif;
  --inter: "Inter", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  line-height: 1;
  font-weight: 400;
  color: var(--text-color);
  overflow-x: hidden;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.headers,
.heading-primary,
.heading-secondary,
.heading-tertiary {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  letter-spacing: -0.5px;
}

.heading-primary {
  font-size: 5.2rem;
  line-height: 1.05;
}

.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
}

.heading-tertiary {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}

.btn,
.btn:link,
.btn:visited {
  font-family: "Poppins", sans-serif;
  color: var(--text-color);
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
}

.normal-text {
  font-family: "Inter", sans-serif;
}

.flex-container {
  display: flex;
  gap: 1.6rem;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.grid {
  display: grid;
  row-gap: 9.6rem;
  column-gap: 6.4rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.subheading {
  display: block;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--primary-color);
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
}

.sub-header {
  font-family: Poppins, sans-serif;
  font-size: 2.4rem;
  font-weight: 600;
  align-self: flex-start;
  align-self: center;
}

.heading-color {
  color: var(--primary-color);
}

.main {
  display: grid;
  grid-template-columns: 1fr 4fr;
  background-color: var(--background-color);
  overflow-y: hidden;
  height: 100vh;
}

/* ***************************************************************************
************************* Sidebar ********************************************** */
.sidebar {
  width: 23rem;
  height: 100vh;
  background-color: var(--secondary-bg);
  overflow: hidden;
  padding-top: 4rem;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li:first-child {
  margin-bottom: 1.8rem;
}

.logo {
  padding: 2rem;
}
.sidebar-btns {
  font-size: 1.6rem;
  padding: 2rem;
  font-family: var(--poppins);
  font-weight: 600;
  cursor: pointer;
}
.sidebar-btn,
.sidebar-btn:link,
.sidebar-btn:visited {
  color: #cacaca;
  text-decoration: none;
}

.sidebar-btns:hover {
  background-color: var(--light-black);
}

.active-page {
  background-color: var(--light-black);
}

.icon-text {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}
/* ************************** Cards *************************************/
.cards {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  background-color: var(--secondary-bg);
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cards-header {
  font-family: "Poppins", sans-serif;
  color: var(--text-color);
  font-size: 2rem;
  margin-bottom: 1rem;
}

.cards-description {
  font-size: 1.6rem;
  color: var(--text-color);
}

.btn-primary {
  color: var(--white);
  font-size: 1.6rem;
  font-weight: 600;
  padding: 1rem 2rem;
  border: none;
  border-radius: 4px;
  font-family: var(--poppins);
  margin-top: 1rem;
  cursor: pointer;
  transition: 0.4s all;
}

.detail-value {
  gap: 1.2rem;
}

select.input {
  appearance: none;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 1.6rem center;
  background-size: 1.6rem;
  cursor: pointer;
}

/* ******************************** Password Icons ************************************************/
.password-container {
  position: relative;
}

.password-icon {
  position: absolute;
  color: var(--white);
  right: 1rem;
  top: 55%;
  cursor: pointer;
  font-size: 2rem;
}

.hide-icon {
  display: none;
}

input,
select {
  border: solid 0.1rem var(--light-black) !important;
}

.error-input {
  border: solid 0.1rem var(--danger-color) !important;
}

/* ***************************************************** Modal Ppoup ***********************************************/
.backdrop {
  position: fixed;
  height: 100vh;
  width: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.9);
}

.popup {
  z-index: 99;
  position: absolute;
  align-self: center;
  justify-self: center;
}

/* input:-internal-autofill-selected {
  background-color: var(--light-black) !important;
  color: var(--text-color) !important;
} */
