/* ************************************************************
************************** Header ****************************** */
.header {
  background-color: var(--background-color);
}

.nav-btns__container {
  display: flex;
  justify-content: center;
}

li {
  list-style: none;
}

.desktop-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 9.6rem;
  padding: 0 4.8rem;
}
.nav-cta:hover,
.nav-cta:active {
  background-color: var(--secondary-hover);
}

.nav-cta,
.nav-cta:link,
.nav-cta:visited {
  background-color: var(--primary-color);
  color: var(--white) !important;
  font-size: 1.6rem;
  padding: 1.4rem 2.8rem;
  border-radius: 22px;
  font-weight: 600;
}
.nav-btn:hover,
.nav-btn:active {
  color: var(--primary-hover);
}

/* ****************************************************************************
*********************  Hero ***************************************************** */
.hero-section {
  padding: 4.8rem 0 9.6rem 0;
  background-color: var(--background-color);
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 2.4rem;
}

.heading-container {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.sub-hero__container {
  display: flex;
  justify-content: space-between;
}

.hero-img__container {
  position: relative;
  width: 100%;
}

.hero-img {
  position: absolute;
  right: 10%;
  top: -20%;
  width: 90rem;
}

.heading-color {
  color: var(--primary-color);
}

.hero-header {
  font-size: 7rem;
  line-height: 1.2;
}

.hero-description {
  font-size: 2rem;
  font-weight: 500;
  color: #e6edf3;
  width: 80%;
  line-height: 1.5;
}

.hero-btn,
.hero-btn:link,
.hero-btn :visited {
  margin-top: 2.4rem;
  color: var(--background-color) !important;
  font-size: 1.8rem !important;
  padding: 1.4rem 2.8rem !important;
  border-radius: 22px !important;
  background-color: var(--primary-hover);
}

.hero-btn:last-child {
  background-color: var(--background-color);
  color: var(--white) !important;
  border: #e6edf3 solid 0.1rem;
  border-radius: 11px !important;
}

.hero-btn:hover,
.hero-btn:active {
  background-color: var(--primary-color);
}

.hero-btn:last-child:hover,
.hero-btn:last-child:active {
  border-color: var(--primary-color);
}

/* *******************************************************************************
***************************** Features ******************************************* */
.features-section {
  padding: 4.8rem 0 3.2rem 0;
  background-color: var(--background-color);
  border-top: #222 solid 0.1rem;
}

.features {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.features-cards__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-top: 3.2rem;
}

.features-card {
  background-color: #262527;
  height: 45rem;
  width: 35rem;
  padding: 3.5rem 2.5rem 2.5rem;
  border-radius: 11px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
}

.feat-cards__bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  /* grid-template-columns: 1fr 1fr; */
  gap: 2rem;
  grid-column: -4 / wrap;
}

.icon {
  height: 3.2rem;
  width: 3.2rem;
  background-color: var(--primary-hover);
}

.features-icons {
}

.feat-cards__detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
}

.sub-header {
  font-family: Poppins, sans-serif;
  font-size: 2.4rem;
  font-weight: 600;
  align-self: flex-start;
  align-self: center;
}

.feat-card__description {
  font-family: Inter, sans-serif;
  color: #8b8b8b;
  font-weight: 500;
  font-size: 1.8rem;
  text-align: center;
  line-height: 1.6;
  margin-bottom: 1rem;
}

.feat-cards__btn,
.feat-cards__btn:link,
.feat-cards__btn:visited {
  font-family: Poppins, sans-serif;
  color: #fff;
  font-size: 1.8rem;
  background-color: var(--primary-color);
  padding: 1.2rem 2rem;
  border-radius: 11px;
  transition: 0.4s all;
  cursor: pointer;
}

.feat-cards__btn:hover,
.feat-cards__btn:active {
  background-color: var(--primary-hover);
}
