main {
  background-color: var(--background-color);
  min-height: 100vh;
}

.login-container {
  align-items: center;
  justify-content: center;
  gap: 2rem;
  min-height: 100vh;
}

.login-form {
  min-width: 40rem;
  justify-self: center;
}

.input {
  transition: all 0.3s;
  background-color: var(--light-black);
  padding: 1.4rem 1.6rem;
  border-radius: 8px;
  color: var(--text-color);
}

.input:focus {
  border-color: var(--primary-color);
  outline: none;
}

input {
  border: none;
  outline: none;
}

.login-btn {
  background-color: var(--primary-color);
}

.login-btn:hover {
  background-color: #00b74d;
}

.signup-link {
  text-align: center;
  font-size: 1.6rem;
}

.text-link,
.text-link:link,
.text-link:visited {
  color: var(--primary-color);
  text-decoration: none;
  font-weight: 500;
}

.text-link:hover,
.text-link:active {
  text-decoration: underline;
}
