.profile-container {
  height: 100vh;
  overflow-y: auto;
}

.icons {
  width: 2.4rem;
  height: 2.4rem;
  color: #cacaca;
  font-family: --poppins;
}

/* *****************************************************************************
   *****************************************************************************
 */

.profile-header {
  margin-top: 2.4rem;
}

.profile-cards {
  display: grid;
  grid-template-columns: 2fr 2fr 1.2fr;
  padding-left: 0 !important;
  gap: 2rem;
  margin-bottom: 3.2rem;
  position: relative;
}

.info-text {
  font-weight: 600;
}

.detail-value span {
  background-color: var(--light-black);
  padding: 1.2rem;
  width: 100%;
  border-radius: 11px;
}

.personal-information,
.personal-information__popup {
  border-left: 0.4rem solid var(--primary-color);
}

.info-btn {
  background-color: var(--primary-color);
}
.info-btn:hover {
  background-color: #00b74d;
}

.goal,
.goals-popup {
  border-left: 0.4rem solid var(--accent-color1);
}

.goal-btn {
  background-color: var(--accent-color1);
}

.goal-btn:hover {
  background-color: var(--accent-color);
}

.bmi {
  border-left: 0.4rem solid var(--primary-hover);
}

.goal-bmi {
  gap: 2rem;
}

.achievement-tags {
  background-color: var(--primary-color);
  padding: 0.6rem 1.2rem;
  border-radius: 50px;
}
.achievement-tags__container {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

/* **********************************************************************************
**************************** Popup ************************************************* */

.hidden {
  display: none;
  visibility: hidden;
  position: absolute;
}

/* ****************************** Personal Informtaion **********************/
/* Forms */

input {
  outline: none;
  border: none;
}

.input {
  background-color: var(--light-black);
  padding: 1.2rem;
  width: 100%;
  border-radius: 11px;
  color: var(--text-color);
}

.personal-information__popup {
  width: 40rem;
}

.goals-popup {
  width: 35rem;
}

.no_achieve {
  text-align: center;
}
