input {
  border: none;
  outline: none;
}
.signup-section {
  background-color: var(--background-color);
}

.header-container {
  align-items: center;
}

.signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.6rem;
}

.signup-form {
  display: grid;
  align-items: center;
  gap: 2rem;
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
}

.signup-btn,
.login-link {
  grid-column: span 2;
}

.detail-value {
  width: 100%;
}

.input {
  transition: all 0.3s;
  background-color: var(--light-black);
  padding: 1.4rem 1.6rem;
  width: 100%;
  border-radius: 8px;
  color: var(--text-color);
}

.input:focus {
  border-color: var(--primary-color);
  outline: none;
}

.label-input {
  width: 35rem;
}

select {
  border: none;
  outline: none;
}

.signup-btn {
  background-color: var(--primary-color);
  transition: a ll 0.3s;
  margin: 0;
}

.signup-btn:hover {
  background-color: #00b74d;
}

.login-link {
  text-align: center;
  font-size: 1.6rem;
}

.text-link,
.text-link:link,
.text-link:visited {
  color: var(--primary-color);
  text-decoration: none;
  font-weight: 500;
}

.text-link:hover,
.text-link:active {
  text-decoration: underline;
}
