.dashboard-container {
  height: 100vh;
}

/* *****************************************************************************
***************************** Header *********************************************/
.header {
  padding: 4.8rem 0 3.2rem 0;
}
.welcome-text {
  margin-bottom: 1.6rem;
}

.header-date {
  font-size: 1.6rem;
}

/* *****************************************************************************
***************************** Main *********************************************/
.dashboard-main {
  overflow-y: auto;
}

.icons {
  width: 2.4rem;
  height: 2.4rem;
  color: #cacaca;
  font-family: --poppins;
}

/************************ Cards *************************************/

.dashboard-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  padding-left: 0;
  gap: 2rem;
  margin-bottom: 3.2rem;
}

.cards-btn,
.cards-btn:link,
.cards-btn:visited {
  color: var(--text-color);
  padding: 0.8rem 1.2rem !important;
  border-radius: 8px;
  font-size: 1.6rem !important;
  width: fit-content;
}

.bmi-btn {
  background-color: var(--accent-color1);
  margin-top: 1rem;
}

.bmi-btn:hover,
.bmi-btn:active {
  background-color: var(--accent-hover);
}

.did-you-know_box {
  border-left: 0.4rem solid var(--primary-hover);
  background-color: var(--secondary-color) !important;
}

.quote-box {
  background-color: var(--secondary-color) !important;
  color: #212121;
  border-left: 0.4rem solid var(--accent-hover);
}

.bmi {
  border-left: 0.4rem solid var(--primary-color);
}

.quick-stats {
  border-left: 0.4rem solid var(--seondary-hover);
}

.chart-text {
  align-items: center;
}

.goal-progress {
  border-left: 0.4rem solid var(--text-color);
  gap: 1.6rem;
}

.calorie {
  border-left: 0.4rem solid var(--secondary-color);
}

.motivational-content {
  line-height: 1.4;
}

.stat-icon {
  gap: 1rem !important;
}

.bar-chart {
  position: relative;
  gap: 2rem;
  height: 100%;
}

svg text {
  fill: var(--text-color);
  font-family: var(--inter);
  font-size: 1.6rem;
}

svg rect {
  width: 5rem;
}

.calorie-burned__bar {
  fill: var(--accent-color1);
}

.calorie-consumed__bar {
  fill: var(--primary-color);
}
.legend-container {
  position: absolute;
  top: 0;
  left: 40%;
  margin-left: 3.2rem;
}
.legend {
  padding: 0.3rem;
  width: 1.6rem;
  height: 1.6rem;
}

.legend-text {
  align-items: center;
  gap: 1rem;
}
.in-legend {
  background-color: var(--primary-color);
}
.out-legend {
  background-color: var(--accent-color1);
  background-color: var(--accent-color1);
}

.workout_schedule {
  min-width: 30rem;
  padding: 2rem;
  border-left: 0.4rem solid var(--primary-color);
}

.weight-chart__container {
  background-color: #e6edf3;
  border-radius: 8px;
  height: 10px;
  overflow: hidden;
}

.achivements {
  border-left: 0.4rem solid var(--accent-hover);
}

.achievement-btn,
.achievement-btn:link,
.achievement-btn:visited {
  color: var(--accent-color1);
  transition: 0.4s all;
}

.achievement-btn:hover,
.achievement-btn:active {
  color: var(--accent-hover);
}

.dashboard-btns__container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
  margin-bottom: 3.2rem;
}

.dashboard-btn,
.dashboard-btn:link,
.dashboard-btn:visited {
  font-family: var(--poppins);
  font-size: 1.6rem;
  text-decoration: none;
  color: var(--text-color);
  background-color: var(--primary-color);
  padding: 1rem 2rem;
  border-radius: 8px;
  transition: all 0.4s;
}

.dashboard-btn:hover,
.dashboard-btn:active {
  background-color: #00b44b;
}

.hidden {
  display: none;
  visibility: hidden;
  position: absolute;
}

.no_data {
  text-align: center;
}
